@model IEnumerable<Maritimo.Models.Models.Ruta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.puertoSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puertoLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrevistaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrevistaLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.puertoSalida.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puertoLlegada.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barco.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrevistaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrevistaLlegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Archivar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>


<div class="mb-3">
    <a href="@Url.Action("Index", "Dashboard")"
           class="btn btn-primary w-100">
        Volver al Dashboard
    </a>
</div>
