@model IEnumerable<Maritimo.Models.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
        <button class="btn btn-sm btn-outline-dark"
                onclick="this.closest('.alert').remove()">
            ✖
        </button>
    </div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                    <a class="btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-info" asp-action="Asignar" asp-route-id="@item.Id">Asignar Rol</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>

<div class="mb-3">
    <a href="@Url.Action("Index", "Dashboard")"
           class="btn btn-primary w-100">
        Volver al Dashboard
    </a>
</div>