@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Maritimo.Web.ViewModels.AsignarBarcoVM


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
        <button class="btn btn-sm btn-outline-dark"
                onclick="this.closest('.alert').remove()">
            ✖
        </button>
    </div>
}



<h3>Asignar Permisos</h3>
<div class="card">

    <div class="card-body">

        <p><strong>Nombre del personal:</strong> @Model.NombrePersonal</p>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.IdPersonal)

            <div class="form-group mb-3">

                <label>Barcos</label>

                <div class="form-group">

                    @foreach (var barcos in Model.Barcos)
                    {
                        <div class="form-check">

                            <input class="form-check-input"
                                   type="checkbox"
                                   name="BarcosSeleccionados"
                                   value="@barcos.Value" />

                            <label class="form-check-label">
                                @barcos.Text
                            </label>

                        </div>
                    }

                </div>

                <br/>

                <div class="form-group mb-3">

                    @Html.LabelFor(m => m.IdRol, "Roles")

                    @Html.DropDownListFor(
                        m => m.IdRol,
                        Model.Roles,
                        "Seleccione un Rol",
                        new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdRol, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-success">
                    Asignar
                </button>

                <a href="@Url.Action("Index", "Personals")" class="btn btn-secondary">
                    Cancelar
                </a>

            </div>

        }
    </div>
</div>

