@model IEnumerable<Maritimo.Models.Models.Personal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (ViewBag.Rol == "Administrador")
{
    
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentificacionUnica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaContratacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionUnica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaContratacion)
            </td>
            <td>
                    <a class="btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-info" asp-action="AsignarLic" asp-route-id="@item.Id">Asignar Licencia</a>
                    }
                    |
                    @if (ViewBag.Rol == "Administrador")
                    {
                        <a class="btn-info" asp-action="AsignarBarco" asp-route-id="@item.Id">Asignar Barco</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
<div class="mb-3">
    <a href="@Url.Action("Index", "Dashboard")"
           class="btn btn-primary w-100">
        Volver al Dashboard
    </a>
</div>